/* accent color: #70bafa */
body {
  color: #fff;
  background-color: #2a303a;
}

.title-section {
  color: #333;
  background-color: #70fa8e;
  padding-top: 85px;
  padding-bottom: 40px;
}

.site-section {
  background-color: #2a303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-section-alt {
  background-color: #313742;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ressie-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1.accent {
  color: #70fa8e;
  margin-bottom: 20px;
}

.bg-shade {
  background-color: #363d4a;
}
